@model IEnumerable<BookModel>

@{
    ViewData["Title"] = "Admin Access";
}

<h1>Book Gallery Administration</h1>

<a class="btn btn-info fs-4" asp-area="Admin" asp-controller="Book" asp-action="Create">Add a new book</a>

<form asp-action="Index" method="get" class="fs-4">
    <div>
        <div>
            <select id="filter" name="filterBy" class="form-control" asp-items="ViewBag.Genre">
                <option value="reset">Clear filter</option>
            </select>
        </div>
        <div>
            <input type="submit" value="Filter" class="btn btn-primary" />
        </div>
    </div>
</form>

<table class="table bg-secondary-subtle table-hover table-striped-columns border border-dark .table-responsive">
    <thead class="bg-secondary fs-4">
        <tr>
            <th>
                @if (ViewContext.HttpContext.GetRouteValue("sortOrder")?.ToString() == "name")
                {
                    <a asp-route-sortOrder="name_desc">
                        @Html.DisplayNameFor(model => model.Name)
                    </a>
                }
                else
                {
                    <a asp-route-sortOrder="name">
                        @Html.DisplayNameFor(model => model.Name)
                    </a>
                }
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenreName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @if (ViewContext.HttpContext.GetRouteValue("sortOrder")?.ToString() == "date")
                {
                    <a asp-route-sortOrder="date_desc">
                        @Html.DisplayNameFor(model => model.PublishDate)
                    </a>
                }
                else
                {
                    <a asp-route-sortOrder="date">
                        @Html.DisplayNameFor(model => model.PublishDate)
                    </a>
                }
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="fs-5">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Authors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishDate)
            </td>
            <td>
                    <a class="btn btn-primary" asp-area="Admin" asp-controller="Book" asp-action="Edit" asp-route-id="@item.BookId">Edit</a> 
                    <a class="btn btn-info" asp-area="Admin" asp-action="Details" asp-route-id="@item.BookId">Details</a> 
                    <a class="btn btn-danger" asp-area="Admin" asp-controller="Book" asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
            </td>
        </tr>
}
    </tbody>

</table>


